html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  width: 60vw;
  margin: 3rem auto;
}

.goalForm {
  padding: 2.5rem;
  margin: 2rem;
  margin-bottom: 5rem;
  /* height: 30vh; */
  border-radius: 0.5rem;
  box-shadow: 2px 2px 10px 2px #787777;
}
.goalForm input {
  width: 100%;
  border: 1px solid rgb(119, 117, 117);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
.goalForm button {
  background-color: palevioletred;
}

.goal {
  background-color: palevioletred;
  padding: 0.8rem;
  margin: 1rem 0;
  padding-left: 2rem;
}
.goal p {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
