@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&family=Roboto:wght@100;400&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
button {
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: none;
}
